*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E1D8;
}

.icon{
    color: transparent;
}


/*------------------below are the styles for the header section-----------------*/

.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/baker-7998336_1280.jpg);
    background-position: center;
    background-size:cover;
    position:relative;

}


nav img{
    width: 150px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative ;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #E5E1D8;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}

.intro{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.intro h2{
    font-size: 72px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.intro p{
    margin: 40px 0 40px;
    font-size: 20px;
    color: #fff;
}




/*-------------------these styles are only applicable for the smaller screen devices------------*/
@media(max-width:800px){

    .intro h2{
        font-size: 32px;
    }

      
    .nav-links ul li{
        display: block;
    
    }

    .nav-links ul li::after{
         background:  #1f0707;

    }
    .nav-links ul li:hover::after{
        width: 100%;
    
    }

    .nav-links ul li a{
        font-size: 16px;
        color: #725656;
        
    }

    .nav-links{
        position: absolute;
        background:#E1DACA;
        height: 100vh;
        width: 200px;
        top: 0; 
        right:0;
        text-align: left;
        z-index: 2;
        transition: 1s;
         
    }

    .icon{
        display: block;
        color: #725656;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
 }

    .nav-links ul{
        padding:30px;
    }
    .name ul{
        flex-direction: column;
    
      }
    
      .name ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    
      }

      .colum1{
        flex-direction: column;
        display: block;
      }
    
      .colum1:hover p{
        font-size: 20px;
      }

      
      .colum2{
        flex-direction: column;
        display: block;
      }
    
      .colum2:hover p{
        font-size: 20px;
      }
      .type{
        flex-direction:column;  
    }

}


.visionMission h3{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-size: 46px;

}


h3{
    font-size: 18px;
    color:#4e3737;
    position: relative;
    text-align: center;
    padding: 30px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.colum1{
    flex-basis:31%;
    background: url(images/vision-240135_1280.jpg);
    background-position: center;
    border-radius: 10px;
    margin:30px;
    padding: 20px 10px 12px;
    transition: 2s;
    height: 400px;
}
.colum1 p{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: 1s;
    opacity: 0;
    color: #1b0606;
    text-align: center;
    align-items: center;
    font-size: 32px;

}

.colum1:hover{
    background: transparent;
    background-color: rgba(163, 153, 137, 0.7);

}



.colum1:hover p{
    bottom: 10px;
    opacity: 1;
    color: #1b0606;
    text-align: center;
    align-items: center;
}


.colum2{
    flex-basis:31%;
    background: url(images/goal-1747234_1280.jpg);
    background-position: center;
    border-radius: 10px;
    margin:30px;
    padding: 20px 10px 12px;
    transition: 2s;
    height: 400px;
}
.colum2 p{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: 1s;
    opacity: 0;
    color: #1b0606;
    text-align: center;
    align-items: center;
    font-size: 32px;

}

.colum2:hover{
    background: transparent;
    background-color: rgba(163, 153, 137, 0.7);

}



.colum2:hover p{
    bottom: 10px;
    opacity: 1;
    color: #1b0606;
    text-align: center;
    align-items: center;
}







/*-----------------service type style------------------------------------------*/




.survisetype{
    color:#4e3737;
    text-align: center;
    font-size: 24px;
    position:relative;
    margin: 100px 0 7px;
    padding: 10px;    
}

p{
    color:#000000;
    position:relative;
    text-align: center;
}

h3{
    font-size: 30px;
    color:#281919;
    position: relative;
    text-align: center;
    padding: 30px;
}
.type{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.survisecol1{
    flex-basis:31%;
    background: url(images/food-1351286_1280.jpg);
    background-position: center;
    background-size:cover;
    border-radius: 10px;
    margin:30px;
    padding: 20px 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
      
}

.survisecol1:hover{
    background: transparent;
    box-shadow: #1b0606;
    background-color: #c5b19e;

}

.survisecol2{
    flex-basis:31%;
    background: url(images/burger-6173140_1280.jpg);
    background-position: center;
    background-size:cover;
    border-radius: 10px;
    margin:30px;
    padding: 20px 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    align-items: center;
      
}

.survisecol2:hover{
    background: transparent;
    box-shadow: #1b0606;
    background-color: #c5b19e;

}

.survisecol3{
    flex-basis:31%;
    background: url(images/foodora-3402507_1280.jpg);
    background-position: center;
    background-size:cover;
    opacity: 10;
    border-radius: 10px;
    margin:30px;
    padding: 20px 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
      
}

.survisecol3:hover{
    background: transparent;
    box-shadow: #1b0606;
    background-color: #c5b19e;

}

/*----------history-----------------------*/
.history{
    padding: 40px;
}

.history h3,h4{
    text-align: center;
    color: #281919;
}
.history h4{
    font-size: 20px;
}

/*---------------managment-----------------*/

.managment li{

    color: #1b0606;
    padding: 30px;
    text-align: center;
}






/*-------------footer styles-----------------------*/
footer{
    background-color:#C1B6A4;
}

.footer-base{
    width: 100%;
    pad: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;  
    padding: 30px;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size:2em ;
    color: #1b0606;
    opacity: 0.9;
}
   /*hover*/
.socialicons a:hover{
    background-color: #1b0606;
    transition: 0.5s;

}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;

}
.name{
    margin: 30px 0;
}

.name ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.name ul li a{
    color: white;
    margin: 20px;
    text-decoration:none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.name ul li a:hover{
    opacity: 1;
}
.copyright{
    text-align: center;
    position: relative;
    padding: 20px;
}
